<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/partialStyles.css">
        <link rel="stylesheet" href="../styles/universalStyles.css">
        <link rel="stylesheet" href="../styles/homeStyles.css">

        <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">

        <title>Waterford SciOly</title>
    </head>
    <body>
        {{>nav}}

        <div class="container">
            <div class="background-green font-white">
                <div class="container">
                    <div class="about-container">
                        <div class="row">
                            <div class="col-md about-content">
                                <div class="about-text-content">
                                    <h3>About us</h3>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consequat, 
                                        lectus non mattis lobortis, dui nunc condimentum odio, et semper justo erat 
                                        sit amet nunc. Morbi tortor sem, lobortis id erat a, feugiat interdum diam. 
                                        Suspendisse elementum pulvinar risus, sed auctor massa. Etiam dapibus felis 
                                        sit amet lectus venenatis tempus. Morbi blandit mollis metus quis pretium. 
                                    </p>
                                </div>
                            </div>
                            <div class="col-md about-content">
                                <img src="../images/HomepagePhoto.jpg" alt="placeholder.png" class="about-image align-middle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="diagnol-box">
            <div class="content">
                <div class="container">
                    <h2 class="officer-header font-navy">Officers</h2>
                    <hr style="color: black; margin: 4% 0">

                    <div class="row officer-row">
                        <div class="col">
                            <div class="row">
                                <div class="col officer-col">
                                    <div class="card border-success officer-card" style="max-width: 18rem;">
                                        <img src="../images/msross.jpg" alt="Ms. Ross" class="officer-image">
                                        <div class="card-body text-success">
                                            <h5 class="card-title">Teacher Adviser</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col officer-col">
                                    <div class="card border-info officer-card" style="max-width: 18rem;">
                                        <img src="../images/ivan.jpeg" alt="ivan" class="officer-image">
                                        <div class="card-body text-info">
                                            <h5 class="card-title">Officer 1</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row">
                                <div class="col officer-col">
                                    <div class="card border-warning officer-card" style="max-width: 18rem;">
                                        <img src="../images/jagger.jpeg" alt="jagger" class="officer-image">
                                        <div class="card-body text-warning">
                                            <h5 class="card-title">Officer 2</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col officer-col">
                                    <div class="card border-danger officer-card" style="max-width: 18rem;">
                                        <img src="../images/ryan.jpeg" alt="ryan" class="officer-image">
                                        <div class="card-body text-danger">
                                            <h5 class="card-title">Officer 3</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>

                         <div class="col">
                            <div class="row">
                                <div class="col officer-col">
                                    <div class="card border-primary officer-card" style="max-width: 18rem;">
                                        <img src="../images/henry.JPG" alt="henry" class="officer-image">
                                        <div class="card-body text-primary">
                                            <h5 class="card-title">Officer 4</h5>
                                            <p class="card-text">
                                               Some quick example text to build on the card title and make up the bulk of the card's content.
                                            </p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col officer-col">
                                    <div class="card border-dark officer-card" style="max-width: 18rem;">
                                        <img src="../images/niko.jpeg" alt="niko" class="officer-image">
                                        <div class="card-body text-dark">
                                            <h5 class="card-title">Officer 5</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                    <hr style="color: black; margin: 4% 0">
                </div>
            </div>
        </div>
        <!--<img src="../images/dots.png" alt="dots.png" class="dots-image"> -->

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        -->
    </body>
</html>