body {
    background-color: #588157 !important;
    color: white !important;
}

a:hover {
    color: #1e6091 !important;
}

.background-green {
    background-color: #34a0a4 !important;
}

.font-white {
    color: white !important;
}

.font-black {
    color: black !important;
}

.font-navy {
    color: #2f5385 !important;
}

.background-gray {
    background-color: #d9d9d9 !important;
}
