<nav class="navbar navbar-expand-lg navbar-dark bg-light py-5 custom-navbar">
  <div class="container">
    <a class="navbar-brand mx-3 custom-brand" href="/">Waterford Science Olympiad</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link active custom-link" aria-current="page" href="/calendar">Calendar</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active custom-link" aria-current="page" href="/files">Files</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active custom-link" aria-current="page" href="/blog">Blog</a>
        </li>
        <li class="nav-item mx-3">
        </li>
      </ul>
    </div>
  </div>
</nav>